@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('/assets/font/woff2-subset/Pretendard-Black.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('/assets/font/woff2-subset/Pretendard-ExtraBold.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('/assets/font/woff2-subset/Pretendard-Bold.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('/assets/font/woff2-subset/Pretendard-SemiBold.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('/assets/font/woff2-subset/Pretendard-Medium.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('/assets/font/woff2-subset/Pretendard-Regular.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('/assets/font/woff2-subset/Pretendard-Light.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('/assets/font/woff2-subset/Pretendard-ExtraLight.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('/assets/font/woff2-subset/Pretendard-Thin.subset.woff2') format('woff2'),
        url('/assets/font/woff-subset/Pretendard-Thin.subset.woff') format('woff');
}

html,
body {
    font-family: 'Pretendard,"Malgun Gothic",sans-serif';
    font-size: 10px;
}

h2,
.h2 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 120%;
}

h3,
.h3 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 120%;
}

h4,
.h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

.text-desc1 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 150%;
}

.text-desc2 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
}
